<div class="jumbotron jumbotron-fluid">
	<div class="container text-center">
		<button type="button" class="btn btn-primary btn-lg" (click)="CreaDocumento()">Nuevo Documento</button>
	</div>
</div>
<div class="card" style="width: 100%">
  <div class="card-title text-align-center">
    <h2>Listado Documentos Entrantes</h2>
  </div>
  <div class="card-body">
    <table id="example" class="table" style="width:100%">
        <thead>
            <tr>
                <th>Tipo Documento</th>
                <th>Fecha</th>
                <th>Asunto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Memorandum</td>
                <td>2020-07-01</td>
                <td>Reporte Asimilados</td>
                <td>
					<i class="fas fa-file-pdf action-icons"></i>
					<i class="fa-solid fa-pen-to-square action-icons ml-2 mr-2"></i>
					<i class="fa-solid fa-download action-icons"></i>
				</td>
            </tr>
			<tr>
                <td>Incidencias</td>
                <td>2020-07-01</td>
                <td>Dia Economico</td>
                <td>
					<i class="fas fa-file-pdf action-icons"></i>
					<i class="fa-solid fa-pen-to-square action-icons ml-2 mr-2"></i>
					<i class="fa-solid fa-download action-icons"></i>
				</td>
            </tr>
			<tr>
                <td>Memorandum</td>
                <td>2020-07-01</td>
                <td>Reporte Asimilados</td>
                <td>
					<i class="fas fa-file-pdf action-icons"></i>
					<i class="fa-solid fa-pen-to-square action-icons ml-2 mr-2"></i>
					<i class="fa-solid fa-download action-icons"></i>
				</td>
            </tr>
			<tr>
                <td>Solicitud</td>
                <td>2020-07-02</td>
                <td>Equipo de Computo</td>
                <td>
					<i class="fas fa-file-pdf action-icons"></i>
					<i class="fa-solid fa-pen-to-square action-icons ml-2 mr-2"></i>
					<i class="fa-solid fa-download action-icons"></i>
				</td>
            </tr>
			<tr>
                <td>Solicitud</td>
                <td>2020-07-02</td>
                <td>--</td>
                <td>
					<i class="fas fa-file-pdf action-icons"></i>
					<i class="fa-solid fa-pen-to-square action-icons ml-2 mr-2"></i>
					<i class="fa-solid fa-download action-icons"></i>
				</td>
            </tr>
			<tr>
                <td>Memorandum</td>
                <td>2020-07-02</td>
                <td>Salida Escolar</td>
                <td>
					<i class="fas fa-file-pdf action-icons"></i>
					<i class="fa-solid fa-pen-to-square action-icons ml-2 mr-2"></i>
					<i class="fa-solid fa-download action-icons"></i>
				</td>
            </tr>
			<tr>
                <td>Incidencias</td>
                <td>2020-07-02</td>
                <td>Asistencias</td>
                <td>
					<i class="fas fa-file-pdf action-icons"></i>
					<i class="fa-solid fa-pen-to-square action-icons ml-2 mr-2"></i>
					<i class="fa-solid fa-download action-icons"></i>
				</td>
            </tr>
			<tr>
                <td>Memorandum</td>
                <td>2020-07-02</td>
                <td>Asunto Importante</td>
                <td>
					<i class="fas fa-file-pdf action-icons"></i>
					<i class="fa-solid fa-pen-to-square action-icons ml-2 mr-2"></i>
					<i class="fa-solid fa-download action-icons"></i>
				</td>
            </tr>
			<tr>
                <td>Incidencia</td>
                <td>2020-07-02</td>
                <td>Autorización Vacaciones</td>
                <td>
					<i class="fas fa-file-pdf action-icons"></i>
					<i class="fa-solid fa-pen-to-square action-icons ml-2 mr-2"></i>
					<i class="fa-solid fa-download action-icons"></i>
				</td>
            </tr>
			<tr>
                <td>Memorandum</td>
                <td>2020-07-03</td>
                <td>--</td>
                <td>
					<i class="fas fa-file-pdf action-icons"></i>
					<i class="fa-solid fa-pen-to-square action-icons ml-2 mr-2"></i>
					<i class="fa-solid fa-download action-icons"></i>
				</td>
            </tr>
			<tr>
                <td>Solicitud</td>
                <td>2020-07-03</td>
                <td>Material</td>
                <td>
					<i class="fas fa-file-pdf action-icons"></i>
					<i class="fa-solid fa-pen-to-square action-icons ml-2 mr-2"></i>
					<i class="fa-solid fa-download action-icons"></i>
				</td>
            </tr>
       </tbody>
    </table>
  </div>
</div>
